.projects {
     padding: 14vw 7vw;
     h1 {
          padding-bottom: 30px;
     }
     .row img {
          aspect-ratio: 3/5;
          object-fit: cover;
          margin: 1vw;
          border-radius: 10px;
     }
     .images {
          display: flex;
     }
     .row {
          width: 25%;
          display: flex;
          flex-direction: column;
     }
     .row:nth-child(even) {
          margin-top: 60px;
     }
}

.slider {
     display: none;
     img {
          aspect-ratio: 3/5;
          width: 95%;
          margin: 0 auto;
          object-fit: cover;
          border-radius: 10px;
     }
}

@media (max-width: 1000px) {
     .projects .images {
          display: none;
     }
     .slider {
          display: block;
     }
}
