.content {
     position: absolute;
     z-index: 5;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 80px;
     inset: 0 7vw;
     translate: -100%;
     transition: 2s;
     opacity: 0;
     & > div {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          max-width: 590px;
          div {
               overflow: hidden;
          }
     }
     &.active {
          opacity: 1;
          translate: 0;
          h1 {
               transition-delay: 2s;
               translate: 0;
          }
     }
     h1 {
          // font-family: "Outfit";
          translate: 0 100%;
          transition: 2s;
          max-width: 600px;
          font-weight: 400;
          font-size: 70px;
          // line-height: 65px;
          text-align: center;
          display: flex;
          align-items: center;
          gap: 20px;
     }
     p {
          margin: 20px 0;
          font-weight: 400;
          font-size: 30px;
          line-height: 133%;
     }

     @media (max-width: 600px) {
          gap: 50px;
          h1 {
               font-size: 40px;
               line-height: 50px;
          }
          p {
               font-size: 15px;
               line-height: 20px;
               margin: 10px 0;
          }
     }
}

@keyframes title {
     to {
          translate: 0;
     }
}
