.product {
     font-family: "Roboto";
     font-style: normal;
     padding: 6px 6px 20px;
     position: relative;
     border: 1px solid #e3e3e3;
     border-radius: 10px;
     width: 23%;
     opacity: 0;
     translate: 0 20%;
     transition: 2s;
     &.active {
          translate: 0;
          opacity: 1;
     }
     @media (max-width: 1200px) {
          transition: 0s;
     }
     @media (max-width: 1150px) {
          width: 30%;
     }
     @media (max-width: 830px) {
          width: 47%;
     }
     @media (max-width: 550px) {
          width: 100%;
     }

     .discount {
          clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
          top: 10%;
          position: absolute;
          background-color: red;
          color: white;
          padding: 3px 17px;
          left: 0;
          z-index: 10;
     }
     h2 {
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          padding: 11px 0 5px;
     }
     h1 {
          font-weight: 500;
          font-size: 16px;
          line-height: 150%;
          span {
               font-size: 18px;
               font-weight: 700;
          }
     }
     a {
          width: 100%;
     }
     & > button {
          width: 100%;
          padding: 10px;
     }
}
.rating {
     display: flex;
     gap: 8px;
     padding: 7px 0 20px;
     svg {
          color: #ffc71e;
          font-size: 20px;
     }
     & > span {
          font-weight: 400;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.65);
          line-height: 158%;
     }
     p {
          font-size: 16px;
          span {
               color: red;
          }
     }
}
