.contact {
     position: relative;
     opacity: 0;
     transition: 2s;
     &.active {
          opacity: 1;
          form,
          .map {
               translate: 0;
               scale: 1;
          }
     }
     form {
          border-radius: 10px;
          overflow: hidden;
          position: absolute;
          inset: 10% 7% 20% 7%;
          max-width: 500px;
          translate: -100%;
          transition: 2s;
          z-index: 1;
     }
     .map {
          translate: 0 50%;
          scale: 0.3;
          transition: 2s;
     }

     form {
          padding: 25px 30px;
          backdrop-filter: blur(15px);
          background: rgba(90, 90, 90, 0.5);
          font-size: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 16px;
          h1 {
               font-size: 30px;
               line-height: 37px;
               color: #ffffff;
          }
          div {
               display: flex;
               // padding-bot tom: 16px;
          }
          input,
          textarea {
               height: 50px;
               border: none;
               width: 100%;
               padding: 11px 16px;
               border-radius: 10px;
               outline: none;
               color: black;
          }
          textarea {
               height: 40%;
               max-height: 200px;
               resize: vertical;
          }
          button {
               padding: 13px;
          }

          @media (max-width: 400px) {
               gap: 10px;
               div {
                    gap: 10px;
                    flex-wrap: wrap;
               }
               input {
                    height: 40px;
               }
          }
     }
     @media (max-width: 1030px) {
          display: flex;
          background-color: red;
          justify-content: space-between;
          padding: 20px 7%;
          gap: 20px;
          form {
               position: unset;
               width: 50%;
               padding: calc(5px + 2%);
          }
          .map {
               height: unset;
               width: 50%;
               border-radius: 10px;
               overflow: hidden;
               min-height: 400px;
          }
     }
     @media (max-width: 800px) {
          flex-wrap: wrap;
          justify-content: center;
          .map,
          form {
               width: 100%;
          }
     }
}

.line {
     background-color: white;
     height: 1px;
}
.map {
     background: var(--blue-common);
     height: 100vh;
     display: flex;
     flex-direction: column;
     color: white;

     & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 12px 30px;
          flex-wrap: wrap;
          gap: 5px;
          font-size: 14px;
     }

     iframe {
          width: 100%;
          height: 100%;
     }
}
