.products {
     padding: 0 7% 90px;
}

.image {
     background-color: rgba(0, 0, 0, 0.6);
     position: fixed;
     // inset: 0;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: contain;
     z-index: 200;
     transition: 0.1s;
}
