.image{
    width: 90%;
    height: 400px;
    object-fit: contain;
    margin: 0px auto;
    @media (max-width:1400px) {
        height: 300px;
    }
    @media (max-width:800px) {
        height: 250px;
    }
}