.textSection {
  padding: 40px 10%;
  p {
    color: #34394c;
    margin-top: 2rem;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    @media (max-width: 500px) {
      font-size: 15px;
      line-height: 25px;
    }
  }
}
