.parnters {
     position: relative;
     height: 70px;
     overflow: hidden;
     div {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          width: 200%;
          display: flex;
          justify-content: space-around;
          animation: to-right 50s linear infinite;
     }
     img {
          height: 100%;
          object-fit: contain;
          width: 100%;
     }
}

@keyframes to-right {
     0% {
          translate: 0%;
     }
     100% {
          translate: 50%;
     }
}
